{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/function-component-definition": 0,
    "react/jsx-props-no-spreading": 0,
    "@typescript-eslint/no-unused-vars" : 0
  },
  "globals": {
    "React": "writable"
  }
}